<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles %}
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" as="style">
        <link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous" as="style">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar static-top navbar-light bg-white border-bottom box-shadow flex-column flex-md-row align-items-center p-3 px-md-4">
        <a class="navbar-brand" href="{{ url_for('app_index.index') }}">Librenotes</a>

        {% if current_user.is_authenticated %}
            <form class="form-inline" style="text-align: center; display: block;">
                <input class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search">
            </form>
            <ul class="nav justify-content-center">
                <a class="p-2 text-dark" href="{{ url_for('app_account.change_pass_get') }}">Account</a>
                <a class="p-2 text-dark" href="{{ url_for('app_index.logout') }}">Logout</a>
            </ul>
            </nav>

        {% else %}
            <ul class="nav justify-content-center">
                <a class="p-2 text-dark" href="{{ url_for('app_login.login_get') }}">Login</a>
                <a class="p-2 text-dark" href="{{ url_for('app_register.register_get') }}">Register</a>
            </ul>
        {% endif %}
    </nav>

{% endblock %}
{% block content %}
{% endblock %}


{% block createmodal %}
{% endblock %}

{% block deletemodal %}
{% endblock %}

{% block editmodel %}
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>
