<!DOCTYPE html>
<html lang="en">
<body>

<h2 style="text-align: center;">Welcome to Librenotes, {{ username }}</h2>

Please click following link for verification of your account
<a href="0.0.0.0{{ url_for('app_register.confirm') }}?token={{ token }}">LINK</a>
</body>
</html>
