<!DOCTYPE html>
<html lang="en">
<body>
<div style="background-color: whitesmoke;">
    <div style="padding: 15px;">
        <h2 style="text-align: center;">{{ username }}, welcome to Librenotes! </h2>
        <a style="color:#3E7087;" href="https://librenotes.tk{{ url_for('app_register.confirm') }}?token={{ token }}">Just one more step to freedom...</a>
        <p>Librenotes Team</p>
    </div>
</div>
<h5 style="text-align: center; color:#3E7087;">Librenotes, designed and coded in Urla for the love of freedom and
    privacy...</h5>
</body>
</html>
