{% extends "base.html.j2" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal text-center">Sign in</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="password" required>

    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
  </form>

{% endblock %}
