{% macro flash() -%}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    <span style="font-size:14px;">{{ message }}</span>
</div>
  {% endfor %}
{% endif %}
{% endwith %}
{%- endmacro %}

{% macro createmodal() -%}
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="createModalLabel">Add new note</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Title:</label>
        <input type="text" class="form-control" id="create-title">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Note:</label>
        <textarea class="form-control" id="create-note"></textarea>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Labels:</label>
        <input type="text" class="form-control" id="create-hashtag">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save</button>
  </div>
</div>
</div>
</div>
{%- endmacro %}
{% macro deletemodal() %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="deleteModalLabel">Add new note</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <h5 class="modal-title" id="deleteModalLabel">Do you really want to delete this note?</h5>
      <div class="form-group">
        <input type="text" class="form-control" id="delete" hidden>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary">Delete</button>
  </div>
</div>
</div>
</div>
{% endmacro %}
{% macro editmodal() %}
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="editModalLabel">Edit note</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Title:</label>
        <input type="text" class="form-control" id="edit-title">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Note:</label>
        <textarea class="form-control" id="edit-note"></textarea>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Labels:</label>
        <input type="text" class="form-control" id="edit-hashtag">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save</button>
  </div>
</div>
</div>
</div>
{% endmacro %}
