{% extends "base.html.j2" %}
{% import "macro.html.j2" as macro %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}">
{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#createModal" data-toggle="modal"><span class="fas fa-2x fa-pencil-alt"></span></a>
        </li>

      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
          <button class="btn btn-default" type="submit"><span class="fas fa-search"></span></button>
      </form>

    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="container" style="padding-top:70px; padding-left:30px;padding-right:30px;">
{{macro.flash()}}
  <div class="row">
    <div class="row filter">
        {% for note in notes %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="box">
                  {% if note.isprivate %}
                  <div class="box-icon" style="background-color:green;">
                  <span class="fas fa-2x fa-lock"></span>
                  {% else %}
                  <div class="box-icon" style="background-color:red;">
                  <span class="fas fa-2x fa-unlock"></span>

                  {% endif %}
                </div>
                <div class="info">
                  <h4 class="text-center" id="t{{note.id}}">{{note.title|safe}}</h4>
                  <p id="b{{note.id}}">{{note.content|safe}}</p>
                  <ul>
                    <li><a style="color:#343a40;" href="#editModal" data-toggle="modal" data-whatever="{{note.id}}"><span class="far fa-2x fa-edit"></span></a></li>
                    <li><a style="color:#343a40;" href="#deleteModal" data-toggle="modal" data-whatever="{{note.id}}"><span class="far fa-2x fa-trash-alt"></span></a></li>

                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}

	</div>
  </div>
</div>
{% endblock %}
{% block createmodal %}
  {{macro.createmodal()}}
{% endblock %}
{% block editmodel %}
  {{macro.editmodal()}}
{% endblock %}
{% block deletemodal %}
  {{macro.deletemodal()}}
{% endblock %}
{% block scripts %}
  {{super()}}
<script type="text/javascript">
  $('#editModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var id = button.data('whatever')
  var title = document.getElementById("t" + id).innerHTML;
  var body = document.getElementById("b" + id).innerHTML;

  var modal = $(this);
  modal.find('#edit-title').val(title);
  modal.find('#edit-note').val(body);
});
</script>
<script type="text/javascript">
  $('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var id = button.data('whatever');
  var modal = $(this);
  console.log(id);
  modal.find('#delete').val(id);
});
</script>
{% endblock %}
