{% extends "base.html.j2" %}
{% import "macro.html.j2" as macro %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}">

{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
                <button class="btn btn-default" type="submit"><span class="fas fa-search"></span></button>
            </form>

        </div>
    </nav>
{% endblock %}


{% block content %}
    <div style="padding-top:50px;">
    {{ macro.flash() }}
    </div>
    <div class="notes" style="padding-top:20px;">
        {% for note in notes %}
            <div class="note">
                <div class="note-inner">
                    <div class="box-icon" style="background-color:red;">
                        <span class="fas fa-2x fa-unlock"></span>
                    </div>
                    <br>
                    <h4 class="text-center" id="t{{ note.id }}">{{ note.title }}</h4>
                    <span id="b{{ note.id }}" value="{{ note.content }}">{{ note.content|markdown }}</span>
                    <span value="{{ note.isprivate }}" id="p{{ note.id }}" hidden></span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.js'></script>
{% endblock %}
