asn1crypto==0.24.0
blinker==1.4
cffi==1.11.5
click==6.7
Flask==1.0.1
Flask-Cache==0.13.1
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Markdown==0.3
flask-now==0.1.5
Flask-SimpleMDE==0.3.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
pycparser==2.18
pycrypto==2.6.1
six==1.11.0
SQLAlchemy==1.2.7
Werkzeug==0.14.1
WTForms==2.1
